html {
	font-family: Times, "Times New Roman", Georgia, serif;
	background-color: #888;
	padding: 0;
}

button, select {
	cursor: pointer;
	font-size: inherit;
}

h1, h2, h3, h4, h5 {
	margin: 0;
}

h1 {
	font-size: 140%;
}

h2 {
	font-size: 120%;
}  

h3, h4, h5 {
	font-size: 100%;
}

nav {
	line-height: normal;
}

.terminal.flip .scroller {
	transform: scaleY(-1);
}

.notifier {
	color: black;
	position: fixed;
	padding: 5px 25px;
	right: 0;
	top: 0;
	opacity: 0;
	transition: font-size 0.1s ease-in-out, opacity 0.1s ease-in-out;
	display: inline-block;
	font-weight: bold;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 15px;
}

.terminal.flip .notifier {
	top: auto;
	bottom: 0;
	transform: scaleY(-1);
}

.notifier.active {
	font-size: 60px;
	opacity: 1;
}

.sliderPager {
	position: fixed;
	font-size: 14px;
	padding: 5px;
	bottom: 0;
	border: 1px solid gray;
	background-color: lightgray;
	left: 0;
	margin: 20px;
	transition: opacity 0.1s ease-in-out;
} 

nav.toolbar {
	font-family: vernada, verdana, arial;
	top: 0;
	left: 0;
	margin: 5px;
	font-size: 14px;
	position: absolute; 
	padding: 0;
	border: 1px solid gray;
	background-color: lightgray;
}

nav.menubar {
	display: inline-block;
}

nav.toolbar > select {
	margin: 5px;
}

nav.menubar > button {
	margin: 0;
	padding: 15px;
	border: none;
	background-color: lightgray;
}

nav.menubar button.icon {
}

nav.menubar > ul {
	left: -1px;
	top: 40px;
	position: absolute;
	border-radius: 0 8px 8px 8px; 
	background-color: lightgray;
	border: 1px solid gray;
	padding: 2px;
	margin: 0;
	list-style-type: none;
}

nav.menubar > ul li > div.title {
	padding: 5px 15px;
	cursor: pointer;
}

nav.menubar > ul li.current > div.title {
	font-weight: bold;
}

nav.menubar > ul li > div.tool {
	background-color: #eee;
	max-height: 0;
	max-width: 250px;
	overflow: hidden;
}

nav.menubar > ul li.current > div.tool {
	max-width: none;
	max-height: none;
	overflow: auto;
}

nav.menubar > ul li:hover {
	background-color: #ddd;
}

.actionbar {
	position: fixed; 
	top: 60px;
	right: 0;
	padding: 10px;
	font-family: vernada, verdana, arial;
	font-weight: bold;
	opacity: 0.8;
}

.actionbar button {
	display: block;
	width: 70px;
	height: 70px;
	text-align: center;
	border-radius: 35px;
	border: 1px solid gray;
	background-color: lightgray;
}

.actionbar button {
	margin: 20px 10px;
}

.icon {
	background-position: center;
	background-repeat: no-repeat;
	min-width: 15px;
	height: 15px;
	cursor: pointer;
}

.icon.menu {
	background-image: url(../img/menu_16px.png);
}

.icon.play {
	background-image: url(../img/play_16px.png);
}

.icon.stop {
	background-image: url(../img/stop_16px.png);
}

.icon.recordStop {
	background-image: url(../img/recordStop_16px.png);
}

.icon.recordStart {
	background-image: url(../img/recordStart_16px.png);
}

.toolRecorder {
	position: relative;
}

.toolRecorder > button {
	color: darkred;
}

.recorders {
	position: absolute;
	right: 25px;
	top: 40px;
	transform: translateY(-50%);
}

.toolRecorder .recorder {
	display: block;
	width: 8px;
	height: 4px;
	padding: 0;
	margin: 2px;
	background-color: black;
}

.toolRecorder .recorder.recording {
	background-color: red;
}

.tally:after {
	content: " ";
}

.tally {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background-color: red;
	position: fixed;
	right: 0;
	top: 0;
	margin: 20px 30px;
}

.terminal.flip .tally {
	top: auto;
	bottom: 0;
}

.toolFile > nav {
	overflow: auto;
}

.toolTabs > ul {
	padding: 0;
	margin: 0;
}

.toolTabs > ul li {
	display: inline-block;
	padding: 5px 8px;
	list-style-type: none;
	cursor: pointer;
}

.toolTabs > ul li.current {
	font-weight: bold;
}

.toolFileEdit {
	padding: 10px;
}

.toolFileEdit > textarea {
	display: block;
	width: 600px;
	height: 300px;
	padding: 5px;
}

.toolFileEdit > div.filename {
	text-align: right;
}

.toolFileList > ul {
	width: 300px;
	min-height: 10px;
	padding: 5px;
	border: 1px solid gray;
	margin: 0px 10px 10px 10px;
	max-height: 600px;
	min-height: 200px;
	min-width: 200px;
	overflow: auto;
	background-color: white;
	resize: both;
}

.toolFileList > ul li:hover {
	background-color: #eee;
}

.toolFileList > ul li {
	padding: 5px 8px;
	list-style-type: none;
	cursor: pointer;
}

.toolFileList > ul li.dir {
	background: url("../img/folder_24px.png") no-repeat 0px 0px;
	padding-left: 30px;
}

.toolFileList > ul li.file {
	background: url("../img/fileTxt_24px.png") no-repeat 0px 0px;
	padding-left: 30px;
}

.toolFileList div.opened > li {
	font-weight: bold;
}

.toolFileList div.closed > ul {
	max-height: 0;
	overflow: hidden;
}

.toolFileList > ul li.dir > ul{
	padding-left: 5px; 
}

.settingToolString input {
	max-width: 100px;
}

.settingToolString {
	min-width: 200px;
}

.toolSpeed {
	position: relative;
}

.toolSpeed > button {
	margin: 5px 10px;
}

.toolSpeed > .label {
	text-align: center;
}

.toolTerminals > nav {
	min-width: 200px;
}

.toolTerminal td {
	padding: 4px;
}

.toolTerminal th {
	text-align: right;
	padding-right: 5px;
	font-size: 80%;
	text-transform: capitalize;
}

.toolTerminal th:after {
	content: " :";
}

.prompterOutput {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: white;
	color: black;
	font-size: 100px;
	overflow: hidden;
}

.prompterOutput > .content {
	position: relative;
	width: 100%;
	height: 100%;
}

.mask {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.mask > div {
	position: absolute;
	box-shadow: 0px 0px 10px 10px #000000;
	background-color: black;
	opacity: 0.5;
	left: 0;
	right: 0;
}

.mask > .bottom {
	bottom: 0;
}

.mask > .top {
	top: 0;
}

.viewScroll div.scroller {
	position: absolute;
	top: 0;
	right: 0px;
	left: 0px;
	bottom: 0;
	overflow: auto;
}

.viewScroll div.parts li {
	list-style-position: inside;
}

.viewScroll div.parts div.pbreak {
	height: 0.7em;
}

.viewScroll div.parts div.slide {
	font-size: 30%;
	margin: 0 auto;
	width: 40%;  
	background-color: #eee;
	border: 2px solid #ccc;
}

.viewScroll div.parts {
	margin: 1000px 0;
	text-align: center;
}

.viewScroll div.parts > div {
	margin: 0;
	padding: 5px;
	border: none;
}

.viewScroll div.parts p {
	margin: 5px 0;
}

.viewScroll div.target {
	position: absolute;
	top: 50%;
	margin-top: -0.5em;
	margin-bottom: 0.5em;
	height: 1em;
	left: 0;
	right: 0;
}

.viewScroll div.target:before {
	content: "";
	position: absolute;
	top: 50%;
	margin-top: -1.5em;
	margin-bottom: 1.5em;
	height: 3em;
	left: 0;
	right: 0;
	background-color: #ffe4b5;
	opacity: 0.5;
}

.viewSlider div.output {
	overflow: auto;
	position: absolute;
	padding: 40px; 
	border: 3px solid lightgray;
}

.terminal.flip div.viewSlider > div.output > div.content {
	transform: scaleY(-1);
}

.viewEmpty {
	position: absolute;
	top: 50%;
	width: 90%;
	text-align: center;
	transform: translateY(-50%);
}

.terminal.flip .viewEmpty {
	transform: translateY(-50%) scaleY(-1);
}

.toolTerminal {
	position: relative;
	padding: 15px;
	border-radius: 8px;
	margin: 5px;
}

.toolTerminal.external {
	background-color: white;
}

.toolTerminalUtils {
	text-align: right;
}

.toolTerminalUtils > div {
	display: inline-block;
	padding: 3px;
}

.toolTerminalUtils div.resolution {
	font-size: 80%;
}

.toolTerminalUtils > div {
	cursor: pointer;
}

.toolTerminalUtils div.id:before {
	content: "🔍";
}

.toolTerminalUtils > div:hover {
	font-weight: bold;
}

.toolAbout {
	font-size: 90%;
	min-width: 200px;
	text-align: center;
	padding: 20px;
}

.toolAbout .version {
	padding: 10px;
}

.toolAbout h2 {
	font-style: italic;
	font-size: 100%;
}

div.faders fieldset {
	background-color: #fff;
	padding: 5px;
	margin: 10px;
	border-radius: 8px;
}

div.faders fieldset legend {
	font-weight: bold;
}
	
div.fader div.label {
	font-weight: bold;
	font-size: 80%;
}

div.fader {
	position: relative;
	padding: 5px;
	margin: 5px;
}

div.fader input {
	width: 380px;
}

div.fader div.display {
	position: absolute;
	right: 0;
	top: 0;
}

div.fader div.channels {
	display: none;
}

div.fader span.channel::before {
	content: "#";
}

div.fader span.channel {
	margin: 2px 4px;
}

div.toolDmx > nav {
	overflow: auto;
}

@media (max-width: 480px) {
	nav.toolbar {
		margin: 0;
		right: 0;
		left: 0;
		border-right: none;
		border-left: none;
		border-right: none;
	}

	nav.menubar > ul {
		right: 0;
		left: 0;
		margin: 0;
		padding: 2px;
	}

	div.fader input {
		width: 90%;
	}

	.prompterOutput {
		font-size: 30px;
	}
	
	.notifier {
		margin: 4px;
		top: auto;
		bottom: 0;
	}
	
	.notifier.active {
		font-size: 40px;
	}

	.viewScroll div.parts div.slide {
		font-size: 75%;
	}
	
	.actionbar {
		padding: 0;
	}
	
	.actionbar button {
		margin: 10px 0;
	}
	
	div.toolDmx div.fader input {
	}

	div.toolDmx fieldset {
		margin: 10px 0;
	}
}

