.terminalOutput {
	color: #1ec503;
	background-color: black;
}

.toolbar {
	color: black;
	background-color: darkgray;
}

.toolFileList > nav {
	background-color: darkgray;
}

.toolTerminals > nav {
	background-color: darkgray;
}

.toolTerminalsItem.local {
	background-color: #1ec503;
}

.viewScroll div.target {
	opacity: 0.8;
}

.toolFileList > nav ul li:hover {
	background-color: #1ec503;
}

.notifier {
	text-shadow:5px 5px 10px #00FF00;
	color: white;
}

.Mask > div {
	box-shadow: 0px 0px 10px 10px white;
	background-color: white;
}
