div.faders {
	position: absolute;
	padding: 20px;
	border: 3px solid #aaa;
	background-color: #fff;
}

div.label {
	font-weight: bold;
}

div.fader {
	position: relative;
	padding: 5px;
}

div.fader input {
	width: 400px;
}

div.fader div.display {
	position: absolute;
	right: 0;
	top: 0;
}

div.fader div.channels {
	display: none;
}

div.fader span.channel::before {
	content: "#";
}

div.fader span.channel {
	margin: 2px 4px;
}
