Source: souffleur
Section: web
Priority: optional
Maintainer: Nicolas Vion <nico@picapo.net>
Build-Depends: debhelper (>= 9), npm

Package: souffleur
Architecture: all
Depends: nodejs, adduser
Description: An innovative teleprompter solution based on web technologies
 An innovative teleprompter solution based on web technologies
